
{% extends 'base.html'%}



{% block title%}
    <title>Word Search || Login</title>
    {% endblock%}
{% block content%}




  <div class="container">
    <div class="row">
      <div class="col-3">

      </div>
      <div class="col-md-5 m-3">

        <form method="POST" class='border p-2 mt-4'>


                <p class='lead'>LogIn!</p>
            {{ form.hidden_tag() }}
            {% for field in form
                    if field.widget.input_type != 'hidden'%}
                    <fieldset>
                        {{field.label}}
                        {{field(class_="form-control")}}
                        <ul class="errors">
                            {% for error in field.errors %}
                            <p class="alert alert-danger">
                                {{error }}
                        </p>


                        </ul>
                        {% endfor%}
                    </fieldset>

            {% endfor %}
            <button class="btn btn-dark ">LogIn!</button>
        </form>
        <div class="alert  alert-light  mt-2">
          <span  > <strong>Don't have an account?</strong>  <a href= {{url_for('auth_blueprint.signup_route')}}>SignUp.</a></span>

        </div>
    </div>

    <div class="col-3">

    </div>

  </div>
</div>




{%endblock%}