.btn-primary{
    background-color: #000080;
    color:	white

}
.btn:hover{
    background-color: #f2e9da;
    color:	#383838;
    border: black

}
.btn-success{
    background-color: #783442;
    color:	white;
    border: black

}

.btn-warning{
    background-color: #f8bd57;
    color:	white;
    border: black

}

#random{
    margin-top: 5px;
}
.bg-primary{
    background-color: #1a32af;
}
#words{
    list-style: none;
}
.navy{
    background: #000080;
}

.delete{
    background-color: #d61414;
    color:#f2e9da;
}
#word{
    background-color: #000080;
}
#part_of_speech{
    background-color: #783442;
}
#definition{
    background-color: #0b5f15;
}
#example{
    background-color: #f8bd57;
}
