{% extends 'base.html' %}

{% block content%}



{% block title%}
    <title>Word Search || About</title>
    {% endblock %}

 <div class="container mt-5">
     <div class="row">
         <div class="col text-center">
             <div class="alert alert-warning">
                 <h2> <strong>Word Search </strong> </h2>
                 <p>This project is made as the first capstone project for <a  class='btn btn-primary' href="https://www.springboard.com/">SpringBoard Software Engineering Course</a></p>

                 <h3><strong>Purpose</strong></h3>
                 <p>The app allows geuet users to search for words in the English Language and show the definition of said word and it's pronunciation.</p>
                 <p>Registered users can keep a list of words they searchd for to allow easier access to these words.</p>

                 <h3><strong>Data</strong></h3>
                 <p>All data in this app is drawn from <a class='btn btn-primary' href="https://www.wordsapi.com/">WordsAPI</a></p>
             </div>

         </div>
     </div>
 </div>


 {% endblock %}
