<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gr51humlTz50RfCwdBYgT+XvbSZqkm8Loa5nWlNrvUqCinoe6C6WUZKHS2WIRx5o" crossorigin="anonymous">

    <title>Word Search || Home</title>
</head>
<body>
   <!-- add a navebar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary cc_cursor">

   <a class="navbar-brand btn btn-warning" href="#">Word Search</a>


   <div class="collapse navbar-collapse" id="navbarColor01">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link btn btn-success m-1" href="#">Home <span class="sr-only">(current)</span></a>
       </li>


       <li class="nav-item">
         <a class="nav-link btn btn-success m-1" href={{url_for('about')}}>About</a>
       </li>
     </ul>

     <ul class = ' navbar-nav my-2 my-lg-0 py-1'>
        <li class="nav-item">
            <a class="nav-link btn btn-warning py-1 m-1" href={{url_for('anon_blueprint.anon_search')}}>Guest</a>
          </li>
        <li class="nav-item">
            <a class="nav-link btn btn-success py-1 m-1" href={{url_for('auth_blueprint.signup_route')}}>Sign Up</a>
          </li>
        <li class="nav-item">
            <a class="nav-link btn btn-success py-1 m-1" href={{url_for('auth_blueprint.login_route')}}>Login</a>
          </li>

     </ul>
   </div>

 </nav>

 <div class="jumbotron cc_cursor text-center">
    <h1 class="display-3 cc_cursor">Word Search</h1>
    <p class="lead">Find the definition of a words in English, Learn how to pronunce it and more...</p>
    <hr class="my-4">
    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
    <p class="lead">
      <a class="btn btn-primary btn-lg" href={{url_for('anon_blueprint.anon_search')}} role="button">Use as guest</a>
    </p>
  </div>

  <div class="container" style="margin-top: 2em;">
    {% for cat, msg in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{cat}}">{{msg}}</div>
    {% endfor %}
  </div>
</body>
</html>